.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-grow: 1;
  background-color: #f2faf8;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box__container {
  display: flex;
  flex-grow: 1;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
}

.sample__line {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 200px;
  margin-bottom: 100px;
  grid-auto-rows: 500px;
}

.box1 {
  display: flex;
}

.box2 {
  display: flex;
}

.second__line {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
}

.box3 {
  display: flex;
}

.box4 {
  display: flex;
}

.box1,
.box2,
.box3,
.box4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  background-color: #ffe9e9;
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

/* 클릭 효과를 위한 스타일 */
.box1::before,
.box2::before,
.box3::before,
.box4::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 8px 8px 0 3px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

/* 클릭 및 호버 효과를 위한 스타일 */
.box1:hover::before,
.box2:hover::before,
.box3:hover::before,
.box4:hover::before,
.box1:active::before,
.box2:active::before,
.box3:active::before,
.box4:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

/* 클릭 효과를 위한 스타일 */
.box1:active::before,
.box2:active::before,
.box3:active::before,
.box4:active::before {
  transform: translate3d(0, 0, -1em);
}

.checkbox {
  position: relative;
  display: inline-block;
}

label {
  width: 90px;
  height: 42px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: calc(46px);
  transition: calc(0.4s);
}
label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: calc(100%);
  left: 0;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: calc(0 0 5px rgba(0, 0, 0, 0.2));
  transition: calc(0.4s);
}

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
input:checked + label:after {
  left: 40px;
}
input:hover + label:after {
  box-shadow: calc(
    0 2px 15px 0 rgba(0, 0, 0, 0.2),
    0 3px 8px 0 rgba(0, 0, 0, 0.15)
  );
}

.model8 .checkbox label {
  background: #ddd;
  width: 95px;
  border-radius: 10px;
}

.model8 .checkbox label:after {
  background: #fff;
  border-radius: 10px;
  top: 0;
  width: 60px;
  height: 42px;
}

.model8 .checkbox:checked + label {
  background: #ff980f;
}

.model8 .checkbox:checked + label:after {
  left: 35px;
}

.model8 .checkbox input:checked + label {
  background: #123456;
}

.model8 .checkbox input:checked + label:after {
  left: 35px;
}
