.container {
  display: flex;
  width: 2000px;
  height: 2000px;
  align-items: center;
  justify-content: center;
  background-color: sandybrown;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 720px;
  height: auto;
}

.intro__image {
  display: flex;
  height: 2000px;
}
