.container {
  display: flex;
  background-color: white;
  max-height: 60px;
  width: 720px;
  justify-content: space-between;
  align-self: center;
  position: sticky;
  top: 0;
}

.exit__button {
  padding: 20px;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.create__button {
  padding: 20px;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
