.intro__container {
  display: flex;
  background-color: #f7f5fd;
  padding: 60px;
}

.sample__container {
  display: flex;
<<<<<<< HEAD
  /**/
=======
  /*  */
>>>>>>> d8cdbd99c496f3ec11170b2e517448a6566d5236
}
