.container {
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 10px;
}

.s1_canvas {
    position: sticky;
    top: 0;
    left: 0;
    transform-origin: top left;
    z-index: 1;
}

.s1 {
    /* opacity: 0; */
    background-color: white;
}
