.container {
  display: flex;
  background-color: red;
  flex-direction: column;
  align-items: center;
  height: 2000px;
}

/* Add any additional styling for when the scroll position changes */
.scroll-text {
  /* Your desired style when scrolled past a certain point */
  color: red; /* Example color change */
}

.scrolled-text {
  /* Your style before scrolling past the certain point ddd*/
  color: black; /* Example default color */
}
